{
  "discord": {
    "client_id": "YOUR_DISCORD_CLIENT_ID",
    "client_secret": "YOUR_DISCORD_CLIENT_SECRET",
    "redirect_uri": "http://localhost:5001/YOUR_PROJECT/us-central1/discordCallback"
  },
  "twitch": {
    "client_id": "YOUR_TWITCH_CLIENT_ID",
    "client_secret": "YOUR_TWITCH_CLIENT_SECRET",
    "redirect_uri": "http://localhost:5001/YOUR_PROJECT/us-central1/discordCallback"
  }
}
